{% extends 'base.html.twig' %}

{% block title %}- CONNEXION{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="d-flex justify-content-around">
        <div class="col-7 d-flex flex-column justify-content-end">
            <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
            <p><a class="mt-2" href="{{ path('app_register') }}">Je n'ai pas encore de compte</a></p>
         </div>
        <div class="col-5">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                    <label class="mt-5" for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mt-3" autocomplete="email" required autofocus>
                    <label class="mt-5" for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control mt-3" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="d-flex flex-column align-items-center">
                        <p class="mt-4"><a href="{{ path('app_forgot_password_request') }}">J'ai oublié mon mot de passe</a></p>
                        <button class="button mt-3" type="submit">Valider</button>
                    </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
